{% extends 'base.html.twig' %}


{% block contenido %}
{% block topic %}{% endblock %}

    <div class="row">



      <div class="col-md-8">
        <div class="jumbotron">

          <div class="jumbotron-contents">

          <blockquote>
                  <h2>{{hecho.titulo}}</h2>
                  <small>{{hecho.fecha | date("d-m-Y") }}</small>
          </blockquote>



            <p>
              {{hecho.resumen}}
            </p>
            {% if hecho.imagen | length > 1%}
            <div class="jumbotron-photo"><img src="{{hecho.imagen}}"></div>
            {% endif %}
            <br/>
            <p>
              {{hecho.fuentes | raw}}
            </p>
            

          </div>
        </div>
      </div>

     <div class="col-md-4">
       <div class="jumbotron">
        <h4>Relacionados</h4>
        <ul>
          {% for rel in relacionados%}
           <li>
            <a href="/mostrar/{{rel.fecha|date("d-m-Y")}}/{{ rel.getSlug() }}">{{rel.titulo}}</a>
           </li> 
          {% endfor %}  
        </ul>
       </div> 
     </div>

	</div>
  <div class="row">
      <p>
        {% for tag in hecho.tags%}
        <a class="btn btn-primary" href="#">{{ tag.nombre }}</a>              
        {% endfor%}
      </p>
  </div>

{% endblock %}
