{% extends 'base.html.twig' %}


{% block contenido %}

{% set mes_anio = '' %}


    <div class="row">
		  <div class="col-md-12">
			  <div class="timeline">
          {% for hecho in hechos %}
				  <dl>

            {% if hecho.publicado %}

                {% if mes_anio != hecho.fecha|date("m") ~ hecho.fecha|date("y") %}
                  {% set mes_anio = hecho.fecha|date("m") ~ hecho.fecha|date("y") %}
    					    <dt> {{hecho.fecha|date("m")}} - {{hecho.fecha|date("Y")}}</dt>
                {% endif %}

    					  <dd class="{{ cycle(['pos-right', 'pos-left'], loop.index0) }} clearfix">
    						  <div class="circ"></div>
    						  <div class="time">{{hecho.fecha|date("d/m")}}    </div>
    						  <div class="events">
    							  <div class="pull-left">
    								  <a href="/mostrar/{{hecho.fecha|date("d-m-Y")}}/{{ hecho.getSlug() }}"><img class="events-object img-rounded imagen" src="{{hecho.imagen}}">  </a>
    							  </div>
    							  <div class="events-body">
    								  <a href="/mostrar/{{hecho.fecha|date("d-m-Y")}}/{{ hecho.getSlug() }}"><h4 class="events-heading">{{hecho.titulo}}</h4> </a>
    								  <p> {{hecho.resumen}} </p>
    							  </div>
    						  </div>
    					  </dd>


            {% endif %}

				  </dl>
          {% endfor %}
          <dl>
              <dt class="ver_mas"><a  href="/timeline"> Ver más </a></dt>
          </dl>
			  </div>

		  </div>
		</div>




    {% endblock %}
