{% extends 'base.html.twig' %}

{% block contenido %}
   {% block topic %}{% endblock %}
   <div class="container">
       <div class="form-group">

        <div class="row">
             {{ form_start(form) }}
                
                <div class="col-md-10">
                  <div class="panel panel-default">

                  <div class="panel-body">

                    <div class="input-group">
                        {{ form_label(form.fecha) }}
                        {{ form_errors(form.fecha) }}
                        {{ form_widget(form.fecha,{'attr': {'class': ''}}) }}
                   </div>

                   <div class="input-group">
                        {{ form_label(form.publicado) }}
                        {{ form_errors(form.publicado) }}
                        {{ form_widget(form.publicado,{'attr': {'class': ''}}) }}
                   </div>

                   <div class="input-group">
                        {{ form_label(form.titulo) }}
                        {{ form_errors(form.titulo) }}
                        {{ form_widget(form.titulo,{'attr': {'class': 'form-control'}}) }}
                   </div>

                   <div class="input-group">
                        {{ form_label(form.resumen) }}
                        {{ form_errors(form.resumen) }}
                        {{ form_widget(form.resumen,{'attr': {'class': 'form-control resumen'}}) }}
                   </div>

                   <div class="input-group">
                        {{ form_label(form.imagen) }}
                        {{ form_errors(form.imagen) }}
                        {{ form_widget(form.imagen,{'attr': {'class': 'form-control'}}) }}
                   </div>

                   <div class="input-group">
                        {{ form_label(form.fuentes) }}
                        {{ form_errors(form.fuentes) }}
                        {{ form_widget(form.fuentes,{'attr': {'class': 'form-control fuentes'}}) }}
                   </div>

                  </div>

                </div>


                </div>

                <div class="col-md-2">

                  <div class="input-group">
                       {{ form_label(form.tags) }}
                       {{ form_errors(form.tags) }}
                       {{ form_widget(form.tags,{ 'attr': {'class': 'selecter_5'} }) }}
                  </div>

                </div>


        </div>
        <div class="row">

                <input class="btn btn-default" type="submit" value="Guardar" />

                {{ form_end(form) }}

        </div>

        </div>

    </div>



    <ul>
        <li>
            <a href="{{ path('hecho_index') }}">lista de hechos</a>
        </li>
    </ul>

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: '.fuentes',
      height: 500,
      theme: 'modern',
      plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools'
      ],
      toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      toolbar2: 'print preview media | forecolor backcolor emoticons',
      image_advtab: true,
      templates: [
        { title: 'Test template 1', content: 'Test 1' },
        { title: 'Test template 2', content: 'Test 2' }
      ],
      content_css: [
        '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css'
      ]
     });
  </script>

{% endblock %}
