{% extends 'base.html.twig' %}

{% block contenido %}
   {% block topic %}{% endblock %}
   <div class="container">


     {{ form_start(form) }}

            <div class="input-group">
                {{ form_label(form.fecha) }}
                {{ form_errors(form.fecha) }}
                {{ form_widget(form.fecha) }}
           </div>

           <div class="input-group">
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo,{'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.titulo) }}
           </div>

           <div class="input-group">
                {{ form_label(form.fuentes) }}
                {{ form_errors(form.fuentes) }}
                {{ form_widget(form.fuentes) }}
           </div>


            <input type="submit" value="Create" />






        {{ form_end(form) }}



    </div>



    <ul>
        <li>
            <a href="{{ path('hecho_index') }}">lista de hechos</a>
        </li>
    </ul>



{% endblock %}
