{% extends 'base.html.twig' %}

{% block contenido %}
    {% block topic %}{% endblock %}
   <div class="container">
      <div class="form-group">

       <div class="row">
         <div class="col-md-12">
           <div class="panel panel-default">
              {{ form_start(edit_form) }}
                  {{ form_errors(edit_form) }}
                  {{ form_widget(edit_form) }}
                </br>
                   <div class="row"> 
                        <div class="col-md-2">
                            <input class="btn btn-default" type="submit" value="Guardar" />
                             {{ form_end(edit_form) }}
                        </div>
                        <div class="col-md-10">
                            {{ form_start(delete_form) }}
                                <input class="btn btn-danger" type="submit" value="Borrar">
                            {{ form_end(delete_form) }}
                        </div>    
                  </div>
          </div>
         </div>
        </div>

      </div>
  </div>



    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Volver al listado</a>
        </li>
        
    </ul>
{% endblock %}
