{% extends 'base.html.twig' %}

{% block contenido %}
{% block topic %}{% endblock %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.nombre }}</a></td>
                <td>{{ tag.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tag_show', { 'id': tag.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

            <a class="btn btn-primary" href="{{ path('tag_new') }}">Agregar tag</a>

{% endblock %}
